/********** Base styles **********/
* {
  font-family: Helvetica;
}

.row {
  width: 100%;
}

.row.attribution {
  clear: left;
}

.row div.wrapper {
  float: left;
  box-sizing: border-box;
  overflow: auto;
}

section.text {
  padding: 20px;
  padding-top: 50px;
  position: relative;
  border: 1px solid black;
  margin: 20px;
  height: 200px; /* Unfortunately best solution for now */
  overflow: auto;
}

section.title {
  position: absolute;
  padding: 5px;
  right: 0px;
  top: 0px;
  border: 1px dashed black;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    width: 33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
  }
}

/********** Small devices only **********/
@media (min-width: 767px) {
  
}